@font-face {
    font-family: SVN-Gotham;
    src: url('/assets/fonts/font-text/gothambook.ttf');
    font-weight: 400;
}

@font-face {
    font-family: SVN-Gotham;
    src: url('/assets/fonts/font-text/gothammedium.ttf');
    font-weight: 500;
}

@font-face {
    font-family: SVN-Gotham;
    src: url('/assets/fonts/font-text/gothambold.ttf');
    font-weight: 700;
}


@keyframes modalFadeIn {
    from {
        transform: translateY(40px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes scale {
    50% {
      -webkit-transform:scale(1.2);
      -moz-transform:scale(1.2);
      -ms-transform:scale(1.2);
      -o-transform:scale(1.2);
      transform:scale(1.2);
    }
  }