
:root {
    --mauNenKhungTieuDe: #fff0f0;
    --mauChuKhungTieuDe: #212b35;
    --mauNenKhung: #fff0f0;
    --mauChuDanhSachSanPham: #212b35;
    --mauIconCheckbox: #ff4d4d;
    --mauDuongKePhanBiet: #dfe4e8;
    --mauChuXemThem: #ff4d4d;
    --mauGiaGocSanPham: #a6aaae;
    --mauGiaGiamGia: #ff4d4d;
    --mauNenKhungPhienBanVaSoLuongMua: #fff;
    --mauChuKhungPhienBanVaSoLuongMua: #596068;
    --mauNenLabel: #ffe5e5;
    --mauChuLabel: #ff4d4d;
    --mauNenKhungDuoiCung: #fff0f0;
    --mauChuTongTien: #212b35;
    --mauChuTongGiamGia: #ff4d4d;
    --mauNenNutThemGioHang: #ff4d4d;
    --mauChuNutThemGioHang: #ffffff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'SVN-Gotham', sans-serif !important;
    font-size: 62.5%;
    line-height: 1.6rem;
    scroll-behavior: smooth;
}


/* HEADER */
.header {
    background-color: #fff;
    transform: translateY(-76px);
    transition: all linear 0.2s;
    /* z-index: 999999999; */
}

.header__search {
    height: 76px;
    line-height: 76px;
}

.header__search-input {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__search-input i {
    font-size: 1.6rem;
}

.header__search-input input {
    width: 100%;
    border: none;
    outline: none;
    background: none;
    font-size: 1.6rem;
    letter-spacing: 1px;
}

.header__search-out {
    float: right;
    margin-right: 16px;
    font-size: 3rem;
}

#check__search:checked ~ .header {
    transform: translateY(0);
    opacity: 1;
}

#check__search:checked ~ .overlay {
    display: block;
}

.overlay {
    position: fixed;
    top: 76px;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
    display: none;
    animation: fadeIn linear 0.2s;
    z-index: 555555;
}


.header__top {
    border-bottom: 1px solid #f5f5f5;
    background-color: #fff;
    padding-top: 10px;
    padding-bottom: 10px;
}


.header__left{
    font-size: 1.4rem;
    font-weight: 500;
    color: #1c1c1c;
    text-transform: uppercase;
    letter-spacing: 2px;
    display: flex;
    align-items: center;
    height: 70px;
}

.header__left a {
    font-weight: 700;
    font-size: 1.4rem;
    transition: all 150ms ease-in-out;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #1c1c1c;
    margin-left: 10px;
}

.header__left a:hover {
    color: #dc4e3f;
    
}

.header__top .logo a img{
    max-width: 300px;
    width: 100%;
}

.header__right {
    display: flex;
    list-style: none;
    justify-content: flex-end;
    font-size: 1.4rem;
    text-align: center;
    height: 70px;
    line-height: 70px;
}

.header__top-icon:nth-child(1) {
    position: relative;
}

.header__top-icon:nth-child(1):hover .no__cart {
    display: block;
}


.header__top-icon {
    font-weight: 500;
    color: #1c1c1c;
    text-transform: uppercase;
    letter-spacing: 2px;
    display: block;
    position: relative;
    padding: 0 15px;
    white-space: nowrap;
    cursor: pointer;
}

.header__top-icon-count {
    height: 20px;
    line-height: 20px;
    background: #1c1c1c;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 500;
    text-align: center;
    min-width: 20px;
    border-radius: 50%;
    position: absolute;
    top: 10px;
    right: 6px;
}

.header__top-icon:hover {
    color: #dc4e3f;
}

.no__cart {
    position: absolute;
    right: 20px;
    color: #000;
    font-size: 1.4rem;
    text-transform: none;
    font-weight: 400;
    background-color: #fff;
    margin: 0;
    min-width: 320px;
    box-shadow: 0px 2px 6px 0px rgb(50 50 50 / 33%);
    z-index: 99;
    height: 46px;
    line-height: 46px;
    padding: 0 10px;
    display: none;
}



/* NAVIGATION */
.navigation {
    height: 44px;
    background-color: #fff;
}

.nav__list {
    display: flex;
    list-style: none;
}

.nav__item {
    float: left;
    position: relative;
    flex: auto;
    text-align: center;
    cursor: pointer;
}

.nav__item a{
    color: #1c1c1c;
    font-size: 14px;
    padding: 10px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
    text-decoration: none;
    line-height: 44px;
}

.nav__item .fa-solid {
   font-size: 1rem;
}

.nav__item:hover a{
    color: #dc4e3f;
}
.nav__item:hover .nav__item-lv2 a{
    color: #1c1c1c;
}

.nav__item-list {
    display: none;
    width: 200px;
    background-color: #fff;
    list-style: none;
    position: absolute;
    right: -30px;
    text-align: left;
    border-radius: 0;
    padding-left: 0;
    box-shadow: 0 0 10px 0 rgb(0 0 0 / 15%);
    animation: modalFadeIn ease 0.5s;
}

.nav__item-lv2 {
    border-bottom: 1px solid #f7f7f7;
}

.nav__item-lv2:hover a {
    color: #dc4e3f !important;
}

.nav__item-lv2 a{
    text-decoration: none;
    color: #1c1c1c;
    font-size: 1.4rem;
    font-weight: 400;
    text-transform: none;
    padding: 10px 20px 10px 5px;
}

.nav__item:hover .nav__item-list{
    display: block;
}

/* NAVIGATION RESPONSIVE */
.nav__overlay {
    position: fixed;
    top: 0;
    bottom: -100vh;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
    display: none;
    animation: fadeIn linear 0.2s;
}

.nav__input:checked ~ .nav__overlay {
    display: block;
}

.nav__input:checked ~ .navigation__res {
    transform: translateX(0);
    opacity: 1;
}

.navigation__res {
    list-style: none;
    width: 300px;
    max-width: 100%;
    background-color: #fff;
    position: fixed;
    padding-top: 76px !important;
    top: 0;
    left: 0;
    bottom: -100vh;
    padding: 0;
    z-index: 99;
    transform: translateX(-100%);
    transition: all linear 0.2s;
    opacity: 0;

}

.nav__res-item {
    border-bottom: 1px solid #f7f7f7;
    padding: 10px;
    position: relative;
}

.nav__res-item  i {
    padding: 0 16px;
    margin-right: 20px;
    line-height: 22px;
    right: 0;
    position: absolute;
    top: 5px;
}

.nav__res-item.active a{
    color: #dc4e3f;
}

.nav__res-item a{
    font-size: 1.4rem;
    text-align: left;
    color: #1c1c1c;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 500;
}

.nav__res-item a,
.dropdown__menu-item a {
    text-decoration: none;
}

.nav__res-item-lv2{
    padding: 10px 10px 10px 20px;
    border-bottom: 1px solid #f7f7f7;
}

.nav__res-item:hover a {
    color: #1c1c1c;
}

.nav__res-item:hover.active a {
    color: #dc4e3f;
}

.dropdown__menu.active {
    display: block;
}

.dropdown__menu {
    width: 100%;
    list-style: none;
    padding: 0;
    display: none;
}

.dropdown__menu-item {
    padding: 10px 10px 10px 20px;
    border-bottom: 1px solid #f7f7f7;
}

.dropdown__menu-item a {
    text-align: left;
    font-size: 12px;
    text-transform: capitalize;
    color: #1c1c1c;
    letter-spacing: 1px;
    white-space: inherit;
    font-weight: 400;
    display: block;
}

.dropdown__menu-item:hover {
    background-color: #ccc;
}





/* carousel slide */
.carousel {
    /* margin-top: 145px; */
    margin-bottom: 40px;
}

.carousel__control-prev {
    position: absolute;
    top: 50%;
    left: 2%;
    height: 46px;
    width: 46px;
    background-color: #fff;
    color:#1c1c1c;
    font-size: 2rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel__control-next {
    position: absolute;
    top: 50%;
    right: 2%;
    height: 46px;
    width: 46px;
    background-color: #fff;
    color:#1c1c1c;
    font-size: 2rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 400;
}

.carousel-indicators {
    text-align: center;
    display: block;
}

.carousel-indicators button {
    width: 5px !important;
    margin: 0 1px !important;
    border: none;
    padding: 1.5px !important;
    display: inline-block !important;
    border-radius: 50% !important;
}

.carousel-indicators .active {
    width: 16px !important;
    border: none;
    padding: 1.5px !important;
    display: inline-block !important;
    border-radius: 10px !important;
    background-color: #dc4e3f;
}

/* SECTION 1 */

.section1__product {
    /* padding: 40px 0 20px 0; */
}

.section__head {
    margin-bottom: 30px;
}

.section__head a {
    font-size: 2.6rem;
    color: #1c1c1c;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 2px;
    text-decoration: none;
    font-family: 'SVN-Gotham', sans-serif;
}

.viewall-cart {
    margin-top: 10px;
}

.viewall-cart a {
    font-size: 1.4rem;
    display: inline-block;
    color: #1c1c1c;
    margin-right: 5px;
    position: relative;
    padding-right: 5px;
    font-weight: bold;
}

.section__head > a:hover,
.viewall-cart a:hover {
    color: #dc4e3f;
}

.viewall-cart a::before {
    content: "/";
    color: #bfbfbf;
    position: absolute;
    right: -5px;
    top: 50%;
    transform: translate(0, -50%);
    font-size: 14px;
}
    
.viewall-cart a:last-child::before {
    content: "";
}

/* OWL CAROUSEL FIX */
.owl-nav {
    display: flex;
    position: absolute;
    top: 40%;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    margin: 0 !important;
}

.owl-prev {
    position: absolute;
    left: -60px;
    height: 46px !important;
    width: 46px !important;
    background-color: #fff !important;
    color:#1c1c1c !important;
    font-size: 3rem !important;
    border-radius: 50% !important;
    box-shadow: 0 2px 10px rgb(54 54 54 / 15%);
    font-weight: 500 !important;
    font: icon 3rem !important;
}

.owl-next {
    position: absolute;
    right: -60px;
    height: 46px !important;
    width: 46px !important;
    background-color: #fff !important;
    color:#1c1c1c !important;
    font-size: 3rem !important;
    border-radius: 50% !important;
    box-shadow: 0 2px 10px rgb(54 54 54 / 15%);
    font-weight: 500 !important;
}

.owl-dots {
   display: none !important;
}

/* PRODUCT BANNER */
.section1__banner {
    position: relative !important;
}

.product__banner {
    overflow: hidden;
    margin: 0 0 46px 0;
}

.product__banner img {
    width: 100%;
    transition: transform .6s ease;
}

.product__banner:hover img {
    transform: scale(1.2);
}


.product__banner-content {
    position: absolute;
    transform: translateY(-200px);
    padding-left: 24px;
}

.product__banner-content h3 {
    margin-top: 0;
    font-size: 22px;
    font-weight: 400;
    letter-spacing: 3px;
    color: #fff;
    text-shadow: 1px 1px 1px rgb(0 0 0 / 31%);
    margin: 16px 0;
}

.product__banner-content > a {
    position: relative;
    display: inline-block;
    padding: 14px 28px;
    line-height: normal;
    border: 1px solid #fff;
    border-radius: 0;
    text-transform: uppercase;
    font-size: 12px;
    text-align: center;
    letter-spacing: 0.2em;
    font-weight: 400;
    font-style: normal;
    background: linear-gradient(to right, transparent 50%, white 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: all .3s ease-out;
    z-index: 1;
    color: #363636;
    text-decoration: none;
}

.product__banner-content > a:hover {
    background-position: left bottom;
    color: #fff !important;
}


/* PRODUCT CARD */
.product__tag {
    font-size: 11px;
    letter-spacing: 1px;
    color: #fff;
    height: 20px;
    line-height: 20px;
    padding: 0 10px;
    background: #410099;
    position: absolute;
    top: 30px;
    z-index: 11;
    left: 0;
    font-weight: initial;
    z-index: 99000;
}

.product__card-body h3 {
    font-size: 12px;
    line-height: 13px;
    font-weight: 400;
    text-transform: uppercase;
    color: #bfbfbf;
    margin-top: 20px;
    letter-spacing: 1px;
    margin-bottom: 5px;
    min-height: 13px;
    font-family: 'SVN-Gotham', sans-serif !important;
}

.product__card-body h2 {
    font-size: 14px;
    letter-spacing: 2.4px;
    font-weight: 500;
    text-transform: uppercase;
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-family: 'SVN-Gotham', sans-serif !important;
}
.product__card-body h5 {
    margin-top: 8px;
    font-size: 12px;
    font-weight: 500;
    color: #1c1c1c;
    font-family: 'SVN-Gotham', sans-serif !important;
}

.product__card-action {
    margin-top: 15px;
    display: none;
    position: absolute;
    top: 310px;
    width: 100%;
    will-change: transform;
    transform: translate3d(0, 100%, 0);
    transition: .3s ease-in-out;
}

.product__card-action > a {
    height: 46px;
    font-size: 13px;
    letter-spacing: 1px;
    font-weight: 500;
    flex: 1;
    padding: 0 10px;
    justify-content: center;
    border: 1px solid #1c1c1c;
    background: #fff;
    color: #1c1c1c;
    line-height: 44px;
    text-align: center;
    text-decoration: none;
}

.product__card:hover .product__card-action{
    top: 256px;
}

.product__card-action:hover a {
    background-color: #1c1c1c;
    color: #ffff;
    transition: ease 0.2s;
}

.product__card-img {
    width: 100%;
    animation: fadeIn ease 0.2s;
    position: relative;
    display: inline-block;
}

.product__card-img .product__card-img2 {
    display: none !important;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
    animation: fadeIn linear 0.2s;  
}

.product__card:hover .product__card-img2 {
    display: block !important;
}


.product__button {
    padding: 40px 0;
    position: relative;
    display: flex;
    justify-content: center;
}

.product__button > a {
    display: block;
    padding: 14px 28px;
    font-size: 1.2rem;
    font-family: sans-serif;
    text-decoration: none;
    color: #fff;
    border: 1px solid #000;
    letter-spacing: 2px;
    text-align: center;
    position: relative;
    transition: all 0.3s;
    background-color: #000;
}

.product__button a span {
    position: relative;
    z-index: 1;
}

.product__button a::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #fff;
    transition: all 0.3s;
}

.product__button a:hover {
    color: #000 !important;
}

.product__button a:hover::after {
    width: 100%;
}


/* SECTION BLOGS */

.blogs h2 {
    margin-bottom: 30px;
    margin-top: 0;
    font-size: 26px;
    line-height: 28px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 2.4px;
}

.blogs h2 a {
    color: #1c1c1c;
    text-decoration: none;
    font-weight: 400;
    font-family: 'SVN-Gotham', sans-serif !important;
}

.blogs h2 a strong {
    font-weight: 500;
}

.blogs a:hover {
    color: #dc4e3f;
}

.blogs__item a {
    text-decoration: none;
}

.blogs__img {
    position: relative;
    overflow: hidden;
    height: 250px;
}

.blogs__img img {
    transition: transform .6s ease;
    width: auto;
    max-height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.blogs__img:hover img {
    transform: scale(1.2);
}

.blogs__title {
    color: #1c1c1c;
    font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 1.67;
    margin-top: 10px;
    margin-bottom: 0;
    text-align: left;
    font-family: 'SVN-Gotham', sans-serif !important;
    margin-top: 26px;

}

.blogs__item a p {
    font-size: 13px;
    line-height: 25px;
    letter-spacing: 0.52px;
    margin-bottom: 0;
    color: #1c1c1c;
    text-align: left;
    word-wrap: break-word;
    font-family: 'SVN-Gotham', sans-serif !important;
    font-weight: 700;
}


/* SLIDER */
.slider {
    margin-top: 145px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 360px;
    position: relative;
}

.slider.slider1 {
    background-image: url(https://bizweb.dktcdn.net/100/414/728/collections/web3.png?v=1651742464250);
}

.slider.slider2 {
    background-image: url(https://bizweb.dktcdn.net/100/414/728/collections/websitev2.jpg?v=1652436631597);
}

.slider.slider3 {
    background-image: url(https://bizweb.dktcdn.net/100/414/728/collections/black-friday-banner-web-2-edccd00f-69ee-4d70-85d2-09acde391dd4.jpg?v=1639026823803)
}

.slider.slider4 {
    background-image: url(https://bizweb.dktcdn.net/100/414/728/collections/black-friday-banner-web-2-edccd00f-69ee-4d70-85d2-09acde391dd4.jpg?v=1639026823803)
}

.slider.slider5 {
    background-image: url(https://bizweb.dktcdn.net/100/414/728/collections/black-friday-banner-web-2-edccd00f-69ee-4d70-85d2-09acde391dd4.jpg?v=1639026823803)
}

.slider__title {
    position: absolute;
    top: 50%;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: 'SVN-Gotham', sans-serif !important;
    color: #fff;
    font-size: 2.6rem;
}

/* SORT */

.sort {
    margin: 30px 0;
    display: flex;
    align-items: center;
    font-size: 1.4rem;
    font-family: 'SVN-Gotham', sans-serif !important;
}

.sort__list {
    display: flex;
    list-style: none;
    align-items: center;
    margin-bottom: 5px;
    padding-left: 0;
}

.sort__item {
    margin-top: 3px;
    padding: 0 8px;
    display: flex;
    align-items: center;
    line-height: 26px;
    position: relative;
    user-select: none;
    cursor: pointer;
}

.sort__item i {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 1px solid #ddd;
    display: block;
    margin-right: 4px;
}

.sort__item i::before {
    content: "";
    display: block;
    position: absolute;
    top: 9px;
    left: 12px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
}

.sort__item:hover i {
    border: 1px solid #dc4e3f;
}

.sort__item:hover i::before {
    background-color: #dc4e3f; 
}

/* FOOTER */
.footer {
    height: 1000px;
    background-color: #596068;
}